.navbar{
    background-color: rgb(25, 130, 221);
    height: 50px;
}
.navbar-item {
    display:flex ;
    justify-self: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    gap: 40px;
}
.navbar .link{
    color: black;
    text-decoration: none;
    gap: 30px;
}

.navbar-item :hover {
    color: white;
}